@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<div class="p-3 mb-2 bg-info text-white">
    <h1>Activity Details</h1>
    <h2>Course: <strong> <span style="color: black">@Model.Module.Course.Name</span></strong></h2>
    <h2>Module: <strong> <span style="color: black">@Model.Module.Name</span></strong></h2>
    <h2>Activity:<strong> <span style="color: black">@Model.Name</span></strong></h2>
</div>
<div class="p-3 mb-2">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Starttime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Starttime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
    
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-block myButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="False" aria-controls="collapseOne">
                        @Html.DisplayFor(model => model.Name) Documents
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="color: black; font-size: 14px">
                    @Html.ActionLink("Add a Document", "Create", "Documents", new { ActivityId = Model.Id }, new { @class = "btn btn-sm btn-success" })
                    @if (Model.Documents.Count > 0)
                    {
                        @Html.Partial("_DocumentList", Model.Documents)
                    }

                </div>
            </div>
        </div>
        
    </div>
</div>
    <div>

    @Html.ActionLink("Back to module", "Details", "Modules", new { id = Model.Module.Id }, new { @class = "btn btn-info" })
    @if (User.IsInRole("teacher"))
    {
        <span> </span>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = " btn btn-warning" })
    }
</div>

