@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<div class="p-3 mb-2 bg-info text-white">
    <h1>Activity Details</h1>
    <h2>Course: <strong> <span style="color: black">@Model.Module.Course.Name</span></strong></h2>
    <h2>Module: <strong> <span style="color: black">@Model.Module.Name</span></strong></h2>
    <h2>Activity:<strong> <span style="color: black">@Model.Name</span></strong></h2>
</div>
<div class="p-3 mb-2">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Starttime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Starttime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @Html.ActionLink("Back to module", "Details", "Modules", new { id = Model.Module.Id }, new { @class = "btn btn-info" })
    @if (User.IsInRole("teacher"))
    {
        <span> </span>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = " btn btn-warning" })
    }
</div>
<p>

</p>
