@model IEnumerable<LexiconLMS.Models.Document>

<h4>Documents</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MimeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MimeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","Documents", new { id=item.Id },null) |
            @Html.ActionLink("Details", "Details","Documents", new { id=item.Id },null) |
            @Html.ActionLink("Delete", "Delete","Documents", new { id=item.Id },null)
        </td>
    </tr>
}

</table>
