@model IEnumerable<LexiconLMS.Models.Document>

<table class="table">
    <tr class="d-flex">
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th class="col-md-3"></th>
    </tr>

@foreach (var item in Model.Where(i => i.CanView(User))) {
    <tr class="d-flex">
        <td class="col-md-2 hideOverflow">
            <a href="@item.Url" target="_blank">
                @Html.DisplayFor(modelItem => item.FileName)
            </a>
        </td>
        <td class="col-md-5 hideOverflow">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.Deadline)
        </td>
        <td class="col-md-3">
            @if (item.CanEdit(User)) { 
                @Html.ActionLink("Edit", "Edit", "Documents", new {id = item.Id}, null)
                <span> | </span>
                @Html.ActionLink("Delete", "Delete", "Documents", new {id = item.Id}, null)
            }
        </td>
    </tr>
}

</table>
