@model LexiconLMS.ViewModels.IDocumentViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<h4>
    @{
        if (Model.CourseId != null) {
            @Html.ActionLink(Model.CourseName, "Details", "Courses", new { id = Model.CourseId }, null)
            <span> &gt; </span>
        }
        if (Model.ModuleId != null) {
            @Html.ActionLink(Model.ModuleName, "Details", "Modules", new { id = Model.ModuleId }, null)
            <span> &gt; </span>
        }
        if (Model.ActivityId != null) {
            @Html.ActionLink(Model.ActivityName, "Details", "Activities", new { id = Model.ActivityId }, null)
            <span> &gt; </span>
        }
        if (Model.FileName != null) {
            <span>@Model.FileName</span>
        } else {
            <span>New file</span>
        }
    }
</h4>

@RenderBody()

