@model LexiconLMS.ViewModels.DocumentViewModel
@*@{ Layout = "~/Views/Documents/_DocumentsLayout.cshtml"; }*@

<div class="p-3 mb-2 bg-danger text-white">
    <h1>Delete</h1>
    <h2>Are you sure you want to delete the<strong style="color: black"> @Model.FileName</strong> document?</h2>
</div>

<div class="p-3 mb-2">
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @if (Model.ActivityId != null)
            {
                @Html.ActionLink("Back","Details","Activities", new{ id = Model.ActivityId}, new{@class = "btn btn-info"})
            }
            @if (Model.ModuleId != null && Model.ActivityId == null)
            {
                @Html.ActionLink("Back","Details","Modules", new{ id = Model.ModuleId}, new{@class = "btn btn-info"})
            }
            @if (Model.CourseId != null && Model.ModuleId == null && Model.ActivityId == null)
            {
                @Html.ActionLink("Back","Details","Courses", new{ id = Model.CourseId}, new{@class = "btn btn-info"})
            }
        </div>
    }
</div>
