@using Antlr.Runtime.Tree
@model LexiconLMS.Models.ApplicationUser

@{
    ViewBag.Title = "Edit user";
}

<div class="p-3 mb-2 bg-info text-white">
    <h1>Details</h1>
    <h2><strong><span style="color: black">@Model.FirstName @Model.LastName</span></strong> info.</h2>
</div>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        @if (Model.CourseId!=null )

        {
            <dt>
                @Html.DisplayName("Course")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Course.Name)
            </dd>
        }





    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new{@class = "btn btn-warning"}) <span></span>
    @Html.ActionLink("Home", "Index","Courses",null ,new{@class="btn btn-info"})
</p>
