@model LexiconLMS.Models.ApplicationUser

@{
    ViewBag.Title = "Edit user";
}

<h2>Edit User</h2>
<div>
    <h4>Course</h4>
    @if (User.IsInRole("teacher"))

    {

        @Html.ActionLink("Add new user", "Register","Account")
    }

    @*<span>
        |
    </span>
    <span>
        @Html.ActionLink("Modles List", "Index", "Modules", new { courseId = Model.Id }, null)
    </span>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayName("Course")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Details","Courses",new{id = Model.CourseId},null)
</p>
