@model LexiconLMS.Models.EditViewModel

@{
                /**/

                ViewBag.Title = "EditView";
}

<div class="p-3 mb-2 bg-warning text-dark">
    <h1>Edit User</h1>
    <h2>Are you sure you want to change <strong> <span id="userRole"> </span> <span style="color: red">@Model.FirstName @Model.LastName</span></strong> info.?</h2>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="#Role"> Select Role</label>
            <div class="col-md-5">
                @Html.DropDownListFor(x => Model.SelectedRole, new SelectList(Model.Roles, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Role" })
                @Html.ValidationMessageFor(x => x.SelectedRole, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="#course"> Select course</label>
            <div class="col-md-5">
                @Html.DropDownListFor(x => Model.SelectedCourse, new SelectList(Model.Courses, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "course" })
                @Html.ValidationMessageFor(x => x.SelectedCourse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @if (Model.SelectedCourse == null)
                {
                    @Html.ActionLink("Go to teachers", "Teachers", "Account",null, new{@class = "btn btn-info"})
                }
                @if (Model.SelectedCourse != null)
                {
                    @Html.ActionLink("Go to students", "Students", "Account",null, new{@class = "btn btn-info"})
                }
               </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(Document).ready(function () {
            $("#course").prop("disabled", true);
            $("#Role")
                .change(function () {
                    var str = "";
                    $("#Role option:selected").each(function () {
                        str += $(this).text();
                        $("#userRole").html(str+":");
                    });
                    if (str == "student") {
                        $("#course").prop("disabled", false);
                    } else {
                        $("#course").prop("disabled", true);
                        $("#course").val('').change();
                    }
                })
                .change();
        }
        );

    </script>
}
