@model LexiconLMS.ViewModels.CourseVeiwModel
@foreach (var item in Model.CourseModules)
{
    <button class="accordion1">

        <div class="container">
            <div class="row">
                <div class="col-md-9">@Html.DisplayFor(model => item.Name) Module</div>

                @if (User.IsInRole("teacher"))
                {

                    <div class=" col-md-3">

                        @Html.ActionLink("Edit", "Edit", "Modules", new {id = item.Id}, new {@class = "btn btn-warning"})
                        @Html.ActionLink("Details", "Details", "Modules", new {id = item.Id}, new {@class = "btn btn-info"})
                        @Html.ActionLink("Delete", "Delete", "Modules", new {id = item.Id}, new {@class = "btn btn-danger"})

                    </div>

                }
                else if (Request.IsAuthenticated)
                {
                    <div class="col-md-2"></div>
                    <div class="col-md-1">
                        @Html.ActionLink("Details", "Details", new {id = item.Id}, new {@class = "btn btn-info"})
                    </div>
                }
            </div>
        </div>

    </button>

    <div class="panel">
        <div >
            <table class="table">

                <tr class="d-flex">
                    <th class="col-md-2">@Html.DisplayNameFor(model => item.StartDate)</th>
                    <th class="col-md-2">@Html.DisplayNameFor(model => item.EndDate)</th>
                    <th class="col-md-8">@Html.DisplayNameFor(model => item.Description)</th>
                </tr>


                <tr class="d-flex">
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td class="col-md-8 breakWord">@Html.DisplayFor(model => item.Description)</td>
                </tr>
            </table>
         </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/css")
}

<script type="text/javascript">
    var moduleCollapse = document.getElementsByClassName("accordion1");
    var i;

    for (i = 0; i < moduleCollapse.length; i++) {
    moduleCollapse[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
    }
</script>
