@model LexiconLMS.ViewModels.CourseVeiwModel
@foreach (var item in Model.CourseModules)
{
    <button class="accordion1">@Html.DisplayFor(model => item.Name) Module</button>

    <div class="panel1">
        <table class="table">

            <tr>
                <th class="col-md-1">@Html.DisplayNameFor(model => item.Name)</th>
                <th class="col-md-2">@Html.DisplayNameFor(model => item.StartDate) - @Html.DisplayNameFor(model => item.EndDate)</th>
                <th class="col-md-6">@Html.DisplayNameFor(model => item.Description)</th>
            </tr>


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="breakWord">@Html.DisplayFor(model => item.Description)</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", "Modules", new {id = item.Id}, null) |
                    @Html.ActionLink("Details", "Details", "Modules", new {id = item.Id}, null) |
                    @Html.ActionLink("Delete", "Delete", "Modules", new {id = item.Id}, null)
                </td>
            </tr>
        </table>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/css")
}

<script type="text/javascript">
    var moduleCollapse = document.getElementsByClassName("accordion1");
    var i;

    for (i = 0; i < moduleCollapse.length; i++) {
    moduleCollapse.addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
    }
</script>
