@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}
@if (User.IsInRole("teacher"))
{
    <div class="w3-sidebar w3-bar-block w3-border-right w3-teal" style="display: none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>

        @Html.ActionLink("Create New Module", "Create","Modules",new { id = Model.Id}, new { @class = "w3-bar-item w3-button"})
        @Html.ActionLink("Edit Course", "Edit", new {id = Model.Id}, new {@class = "w3-bar-item w3-button"})
        @Html.ActionLink("Add new course", "Create", null, new {@class = "w3-bar-item w3-button"})
        @Html.ActionLink("Back to List", "Index", null, new {@class = "w3-bar-item w3-button"})
    </div>
}
<div>
    <div class="w3-teal">
       @if (User.IsInRole("teacher"))
       {
           <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
       }
        <div class="w3-container">
            <h1>@Html.DisplayFor(model => model.Name) Details</h1>
        </div>
    </div>

    <div class="w3-container ">

            <div class="col-md-12">
                <div>
                  <br/>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="breakWord">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>

              </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="False" aria-controls="collapseOne">
                                @Html.DisplayFor(model =>model.Name) Modules
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body" style="color: black; font-size: 14px">
                            @if (Model.CourseModules.Count>0)
                            {
                                @Html.Partial("_ModileViewList", Model.CourseModules)
                            }
                           
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                @Html.DisplayFor(model =>model.Name) Students
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body" style="color: black; font-size: 14px">
                            @if (Model.CourseModules.Count > 0)
                            {
                                @Html.Partial("_StudentOfCourse", Model)
                            }
                           
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                @Html.DisplayFor(model => model.Name) Documents
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body" style="color: black; font-size: 14px">
                            <p>@Html.ActionLink("Add a Document", "Create", "Documents", new { CourseId = Model.Id }, null)</p>
                            @if (Model.Documents.Count > 0)
                            {
                                @Html.Partial("_DocumentList", Model.Documents)
                            }
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>



