@using System.Web.Mvc.Html
@model IEnumerable<LexiconLMS.ViewModels.CourseVeiwModel>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>
@if (User.IsInRole("teacher"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@foreach (var item in Model)
{

    <button class="accordion">@Html.DisplayFor(modelItem => item.Name)</button>
    <div class="panel">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="breakWord">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.IsInRole("teacher"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                @if (Request.IsAuthenticated && !User.IsInRole("teacher"))
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                }
            </tr>
        </table>
        @*@Html.Partial("_ModulesList", item.CourseModules)*@
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
