@using System.Web.Mvc.Html
@model IEnumerable<LexiconLMS.ViewModels.CourseVeiwModel>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>
<div class="dl-horizontal">
    <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control" type="text" placeholder="contains" aria-label="Filter" name="filterString">
        <button class="btn btn-outline btn-rounded btn-primary my-0" type="submit">Filter</button>
    </form>
   </div>

<div class="custom-control custom-checkbox my-1 mr-sm-2">
    <input type="checkbox" class="custom-control-input" id="customControlInline" onclick="showFunction()">
    <label class="custom-control-label" for="customControlInline">Inactive Courses</label>
</div>

<br />
@if (User.IsInRole("teacher"))
{

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

}

@foreach (var item in Model)
{
    if (item.EndDate >= DateTime.Today)
    {
        <div>
            @Html.Partial("_CourseListView",item)
        </div>
    }
    else
    {
        <div class="inactive" style="display: none">
           @Html.Partial("_CourseListView",item)
        </div>
    }


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/css")
}
<script type="text/javascript">
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }


    function showFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("customControlInline");
        // Get the output text
        var inactive = document.getElementsByClassName("inactive");

        // If the checkbox is checked, display the output text
        for (var i = 0; i < inactive.length; i++) {
            if (checkBox.checked === true) {
                inactive[i].style.display = "block";
            } else {
                inactive[i].style.display = "none";
            }
        }
        //if (checkBox.checked === true) {
        //    inactive.style.display = "block";
        //} else {
        //    inactive.style.display = "none";
        //}
    }

</script>
