@model IEnumerable<LexiconLMS.Models.Activity>


<table class="table">
    <tr class="row">
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Starttime)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.Description)
        </th>
       <th class="col-md-3"></th>
    </tr>

@foreach (var item in Model) {
    <tr class="row">
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.Starttime)
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td class="col-md-3 hideOverflow">
             @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="col-md-3">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Details", "Details","Activities", new { id=item.Id }, new { @class = "btn btn-info btn-sm" }) <span> </span>
                if (User.IsInRole("teacher"))
                {
                    @Html.ActionLink("Edit", "Edit", "Activities", new {id = item.Id}, new {@class = "btn btn-warning btn-sm" }) <span> </span>
                    @Html.ActionLink("Delete", "Delete","Activities", new {id = item.Id}, new {@class = "btn btn-danger btn-sm" })
                }
            }
        </td>
    </tr>
}

</table>
