@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Details";
}
@if (User.IsInRole("teacher"))
{
    <div class="w3-sidebar w3-bar-block w3-border-right bg-info text-white" style="display: none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        @Html.ActionLink("Add new activity","Create","Activities",new{ id = Model.Id}, new { @class = "w3-bar-item w3-button" })
        @Html.ActionLink("Add new Module", "Create", "Modules", new { id = Model.Id }, new { @class = "w3-bar-item w3-button" })
        @Html.ActionLink("Edit Module", "Edit", "Modules", new { id = Model.Id }, new { @class = "w3-bar-item w3-button" })
        @Html.ActionLink("Back to course", "Details", "Courses", new { id = Model.CourseId }, new { @class = "w3-bar-item w3-button" })

    </div>
}

<div >
    <div class="bg-info text-white">
        @if (User.IsInRole("teacher"))
        {
            <button class="w3-button w3-xlarge bg-info text-white" onclick="w3_open()">☰</button>
        }
        <div class="w3-container">
            <h1> Details</h1>
            <h2>Course: <strong style="color: black">@Html.DisplayFor(model => model.Course.Name)</strong></h2>
            <h2>Module:<strong style="color: black"> @Html.DisplayFor(model => model.Name)</strong></h2>
        </div>
    </div>



    <div class="w3-container ">
        <div>
            @*<h4>Module</h4>*@
            <hr/>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

            </dl>
        </div>
    
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-block myButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="False" aria-controls="collapseOne">
                            @Html.DisplayFor(model => model.Name) Activities
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body" style="color: black; font-size: 14px">
                        @if (Model.CourseActivities.Count > 0)
                        {
                            @Html.Partial("_ActivityList", Model.CourseActivities)
                        }

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-block collapsed myButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                           @Html.DisplayFor(model => model.Name) Documents
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body" style="color: black; font-size: 14px">
                        @Html.ActionLink("Add a Document", "Create", "Documents", new { ModuleId = Model.Id }, new { @class = "btn btn-sm btn-success" })
                        @if (Model.CourseActivities.Count > 0)
                        {
                            @Html.Partial("_DocumentList", Model.Documents)
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>
